<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.process.center.mapper.WorkFlowButtonMapper">

    <resultMap type="com.workflow.process.center.domain.entity.WorkFlowButton" id="WorkFlowButtonBaseResultMap">
        <result property="id" column="id"/>
        <result property="buttonName" column="button_name"/>
        <result property="buttonCode" column="button_code"/>
        <result property="requestUrl" column="request_url"/>
        <result property="orderNum" column="order_num"/>
        <result property="buttonType" column="button_type"/>
        <result property="desc" column="desc"/>
        <result property="systemButton" column="system_button"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updator" column="updator"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

</mapper>
