<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.process.center.mapper.WorkFlowEmailMapper">

    <resultMap type="com.workflow.process.center.domain.entity.WorkFlowEmail" id="WorkFlowEmailBaseResultMap">
        <result property="id" column="id"/>
        <result property="tennatId" column="tennat_id"/>
        <result property="mailServerHost" column="mail_server_host"/>
        <result property="mailServerPort" column="mail_server_port"/>
        <result property="mailUsername" column="mail_username"/>
        <result property="mailPassword" column="mail_password"/>
        <result property="mailSsl" column="mail_ssl"/>
        <result property="note" column="note"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updator" column="updator"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="whereSql">
        <where>
            <if test="id != null">
                and a.id = #{id}
            </if>
            <if test="tennatId != null and tennatId != ''">
                and a.tennat_id = #{tennatId}
            </if>
            <if test="mailServerHost != null and mailServerHost != ''">
                and a.mail_server_host = #{mailServerHost}
            </if>
            <if test="mailServerPort != null">
                and a.mail_server_port = #{mailServerPort}
            </if>
            <if test="mailUsername != null and mailUsername != ''">
                and a.mail_username = #{mailUsername}
            </if>
            <if test="mailPassword != null and mailPassword != ''">
                and a.mail_password = #{mailPassword}
            </if>
            <if test="mailSsl != null">
                and a.mail_ssl = #{mailSsl}
            </if>
            <if test="note != null and note != ''">
                and a.note = #{note}
            </if>
            <if test="creator != null and creator != ''">
                and a.creator = #{creator}
            </if>
            <if test="createTime != null">
                and a.create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and a.update_time = #{updateTime}
            </if>
            <if test="updator != null and updator != ''">
                and a.updator = #{updator}
            </if>
            <if test="delFlag != null">
                and a.del_flag = #{delFlag}
            </if>
        </where>
    </sql>

</mapper>
