<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.process.center.mapper.WorkFlowModelMapper">

    <resultMap type="com.workflow.process.center.domain.entity.WorkFlowModel" id="WorkFlowModelBaseResultMap">
        <result property="id" column="id"/>
        <result property="modelJson" column="model_json"/>
        <result property="modelXml" column="model_xml"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="updator" column="updator"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

    <!-- 查询条件 -->
    <sql id="whereSql">
        <where>
            <if test="id != null">
                and a.id = #{id}
            </if>
            <if test="modelJson != null">
                and a.model_json = #{modelJson}
            </if>
            <if test="modelXml != null">
                and a.model_xml = #{modelXml}
            </if>
            <if test="creator != null and creator != ''">
                and a.creator = #{creator}
            </if>
            <if test="createTime != null">
                and a.create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and a.update_time = #{updateTime}
            </if>
            <if test="updator != null and updator != ''">
                and a.updator = #{updator}
            </if>
            <if test="delFlag != null">
                and a.del_flag = #{delFlag}
            </if>
        </where>
    </sql>

</mapper>
