<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.process.center.mapper.WorkFlowModelReFormMapper">

    <resultMap type="com.workflow.process.center.domain.entity.WorkFlowModelReForm" id="WorkFlowModelReFormBaseResultMap">
        <result property="id" column="id"/>
        <result property="proDefId" column="pro_def_id"/>
        <result property="formName" column="form_name"/>
        <result property="formKey" column="form_key"/>
        <result property="type" column="type"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updator" column="updator"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

</mapper>
