<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.workflow.form.center.mapper.WorkFlowFormModelInfoMapper">

    <resultMap type="com.workflow.form.center.domain.entity.WorkFlowFormModelInfo" id="WorkFlowFormModelInfoBaseResultMap">
        <result property="modelInfoId" column="model_info_id"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <result property="formName" column="form_name"/>
        <result property="formKey" column="form_key"/>
        <result property="version" column="version"/>
        <result property="formModelType" column="form_model_type"/>
        <result property="creator" column="creator"/>
        <result property="createTime" column="create_time"/>
        <result property="updator" column="updator"/>
        <result property="updateTime" column="update_time"/>
        <result property="delFlag" column="del_flag"/>
    </resultMap>

</mapper>
